version: '3.4'

services:
  officecontrolsystemapi:
    image: ${DOCKER_REGISTRY-}officecontrolsystemapi
    container_name: officecontrolsystemapi
    build:
      context: .
      dockerfile: OfficeControlSystemApi/Dockerfile
    ports:
      - "5000:5000"
      - "5001:5001"
  officecontrolsystem.database:
    image: postgres:latest
    container_name: officecontrolsystem.database
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: officecontrolsystem
    ports:
      - 5432:5432
